.floating-button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;

   .btn-icon {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
  
  .floating-button:hover {
    background-color: var(--primary-color);
  }
  .floating-button-wrapper {
    position: absolute;
    bottom: 0;
    right: 1rem;
    z-index: 10;
  }
  
  .fab-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: relative;
  }
  
  .fab-badge {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  